@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@200;300;400;500&family=Spartan:wght@100;200;300;400&display=swap');

/*------------------------------------------------------- Colors*/

.background-color-main {
    background-color: #eee5de;
}

/*------------------------------------------------------- Nav*/
.navbar {
    background-color: #fff5ee;
}

.navbar-brand {
    font-family: "Spartan"; sans-serif;
    font-size: 130%;
    font-weight: bold;
    padding-left: 50px;
    text-shadow: 2px 2px #fff;
}

.nav-item {
    font-family: "Cinzel"; sans-serif;
    padding-left: 100px;
}

.active {
    font-weight: 500;
}

/*------------------------------------------------------- Landing page*/

.landing-container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.landing-page-main-heading {
    font-family: "Spartan"; sans-serif;
    font-weight: 400;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px #fff;
}

.landing-page-heading-right {
    font-family: "Spartan"; sans-serif;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 50px;
    text-shadow: 2px 2px #fff;
}

.landing-page-heading-left {
    font-family: "Spartan"; sans-serif;
    font-weight: 400;
    padding-top: 10px;
    float: right;
    padding-right: 50px;
    text-shadow: 2px 2px #fff;
}

.landing-page-text {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;
    padding-left: 50px;
    padding-right: 50px;
}

.landing-page-text-right {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 60px;
}

.landing-page-text-left {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 25px;
    float: right;
    padding-right: 50px;
}


/*------------------------------------------------------- Testimonials*/

.testimonial-image {
    width: 250px;
    height: 250px;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    transition: transform .2s;    
}

@media screen and (max-width: 768px) {
    .testimonial-image {
        height: 320px;
        width: 320px;
    }
}

@media screen and (max-width: 415px) {
    .testimonial-image {
        height: 380px;
        width: 380px;
    }
}

@media screen and (max-width: 375px) {
    .testimonial-image {
        height: 330px;
        width: 330px;
    }
}

@media screen and (max-width: 320px) {
    .testimonial-image {
        height: 290px;
        width: 290px;
    }
}

.testimonial-image:hover {
    transform: scale(1.2);
}

.main-quote {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;  
    float: left;
}

@media screen and (max-width: 375px) {
    .main-quote {
        text-align: center;
    }
}

.quote-name {
    font-family: "Cinzel"; sans-serif;
    font-size: 120%;
    text-align: center;
    padding-bottom: 25px;
    float: left;
}

/*------------------------------------------------------- Work*/

.work-history-heading {
    font-family: "Spartan"; sans-serif;
    color: #000000;   
    font-weight: 400;
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 30px;
    text-shadow: 2px 2px #fff;
}

.philosophy-para {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 40px;
}

.work-history-image {
    width: 325px;
    height: 300px;
    background-size: cover;
    text-align: center;
    padding: 30px 30px 30px 30px;
    transition: transform .2s;
    margin: 0 auto; 
}

@media screen and (max-width: 768px) {
    .work-history-image {
        height: 700px;
        width: 700px;
    }
}

@media screen and (max-width: 415px) {
    .work-history-image {
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 375px) {
    .work-history-image {
        height: 350px;
        width: 350px;
    }
}

@media screen and (max-width: 320px) {
    .work-history-image {
        height: 290px;
        width: 290px;
    }
}


.work-history-image:hover {
    transform: scale(1.3);
}

.work-history-image-bottom:hover {
    transform: scale(1.3);
}


/*------------------------------------------------------- Footer*/

a {
    text-decoration: none;
    color: #979999;
}

a:hover {
    color: #000000;
}

.footer-icon {
    font-family: "Cinzel"; sans-serif;
    text-align: center;
    width: 30px;
    font-size: 24px;
    padding-top: 5px;
    margin: 0 auto;
    color: #979999;
}

.footer-container {
    background-color: #fff5ee;
}

/*------------------------------------------------------- Contact*/

.form-group {
    margin: 0 auto;
    max-width: 70%;
}

.contact-heading {
    font-family: "Spartan"; sans-serif;
    font-weight: 400;
    padding-top: 75px;
    text-shadow: 2px 2px #fff;
}

@media screen and (max-width: 375px) {
    .contact-heading {
        font-size: 100%;
    }
}

.contact-sub-heading {
    font-family: "Spartan"; sans-serif;
    font-weight: 400;
    padding-bottom: 50px;
    text-shadow: 2px 2px #fff;
}

@media screen and (max-width: 375px) {
    .contact-sub-heading {
        font-size: 80%;
        padding-bottom: 25px;
    }
}

input[type=submit]{
    font-family: "Spartan"; sans-serif;
    margin-top: 10px;
}

.form-text {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;
}

.end-quote {
    font-family: "Cinzel"; sans-serif;
    font-weight: 400;
    padding-top: 80px;
    text-shadow: 2px 2px #fff;
}

.end-quote-name {
    font-family: "Cinzel"; sans-serif;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 75px;
}

.end-para {
    font-family: "Spartan"; sans-serif;
    font-weight: 200;
    padding-top: 40px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 40px;
    text-align: center;
}